body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 5%;
    padding: 0;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
}

input {
    display: inline-block;
    margin: 10px;
}

img {
    width: 200px;
    height: 200px;
}

#general-container {
    width: 500px;
    height: 325px;
    border-radius: 15px;
    border: 5px solid white;
}

#pokemon-image-container {
    display: flex;
    justify-content: center;
}

/* Loading Animation*/

#loading-animation {
    position: relative;
    height: 10px;
    width: 20%;
    border: 5px solid yellow;
    border-radius: 15px;
    margin: 10px;
    display: none;
}

#loading-animation .color {
    position: absolute;
    background-color: #d69914;
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: loadingAnimation 2s infinite linear;
    /* Corrige el nombre de la animación */
}

@keyframes loadingAnimation {
    0% {
        width: 0%;
    }

    25% {
        width: 25%;
    }

    50% {
        width: 50%;
    }

    75% {
        width: 75%;
    }

    100% {
        width: 100%;
    }
}