body {
    color: rgb(180, 121, 12);
    font-family: 'New Super Mario Font U', sans-serif;
    text-align: center;
    background: url("../imgs/mario-bg.jpg");
    background-size: cover;
    overflow-y: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#top-var {
    width: 100%;
    height: 20%;
}

#top-var h1 {
    padding: 0;
    margin: 0;
}

#top-var h2 {
    padding: 0;
    margin: 0;
    color: black;
}

#clock-image{
    width: 20px;
    height: 20px;
}

#board {
    width: 432px;
    height: 432px;
    background-image: url("../imgs/soil.jpg");
    background-size: cover;
    border: 3px solid white;
    border-radius: 10%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board div {
    width: 144px;
    height: 144px;
    background-image: url("../imgs/pipe.png");
    background-size: cover;
}

#board div img {
    width: 80px;
    height: 80px;
    /*This makes sure the user can't accidentally select the images while playing*/
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#restartBtn {
    background-color: rgb(180, 121, 12);
    color: white;
    border-radius: 10%;
    margin-bottom: 5vh;
    font-size: x-large;
    font-family: 'New Super Mario Font U', sans-serif;
}

.difficulty {
    color: black;
    font-size: xx-large;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    user-select: none;
}

.difficulty:hover {
    color: white;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    #board {
        width: 80%;
        height: auto;
        padding: 0;
    }

    #board div {
        box-sizing: border-box;
        /* Ensure that width and height include padding and borders */
        width: 33.33%;
        height: 30vw;
        /* Adjust as needed */
        background-image: url("../imgs/pipe.png");
        background-position: center;
    }

    #board div img {
        width: 55%;
        height: 55%;
    }

    #difficulty-1,
    #difficulty-2,
    #difficulty-3 {
        font-size: medium;
    }
}